API_WORKERS_COUNT=4
RUST_LOG=rust_api=TRACE

POSTGRES_DB_URL=postgres://postgres:postgres@localhost:5432/postgres
PG_CONN_TIMEOUT=10
PG_POOL_MAX_SIZE=32
PG_POOL_WAIT_TIMEOUT=5
PG_POOL_NEW_CONNECTION_TIMEOUT=10
PG_POOL_RECYCLE_TIMEOUT=30
PG_POOL_WARM_POOL=true
PG_POOL_WARM_POOL_SIZE=4
PG_SSL_ACCEPT_INVALID_CERTS=false
PG_SSL_ACCEPT_INVALID_HOSTNAMES=false
PG_SSL_ROOT_CERT_PATH=""

CACHE_SIZE=1000
CACHE_EXPIRATION_TIME=300

REDIS_URL=redis://localhost:6379

RABBITMQ_DOMAIN=localhost:5672
RABBITMQ_USER_NAME=test_user
RABBITMQ_PASSWORD=test_password
RABBITMQ_VIRTUAL_HOST=/
RABBITMQ_EXCHANGE_NAME=amq.default
RABBITMQ_ROUTING_KEY=test.routing.key

ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
SELF_API_KEY=change-me
